		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2" data-background-color="light">			
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">

				{% if current_user.is_authenticated %}	
					<ul class="nav nav-primary">
						<li class="nav-item {% if 'index' in segment %} active {% endif %}">
							<a href="/index.html">
								<i class="fas fa-home"></i>
								<p>Dashboard</p>
							</a>
						</li>
						<li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							<h4 class="text-section">Módulos</h4>
						</li>
						<li class="nav-item {% if 'vehiculos' in segment %} active {% endif %}">
							<a href="/vehiculos">
								<i class="fas fa-car"></i>
								<p>Vehículos</p>
							</a>
						</li>
						<li class="nav-item {% if 'contactos' in segment %} active {% endif %}">
							<a href="/contactos.html">
								<i class="fas fa-user"></i>
								<p>Contactos</p>
							</a>
						</li>
						<li class="nav-item {% if 'transacciones' in segment %} active {% endif %}">
							<a href="/transacciones.html">
								<i class="fas fa-money-check-alt"></i>
								<p>Transacciones</p>
							</a>
						</li>
						<li class="nav-item {% if 'index2' in segment %} active {% endif %}">
							<a href="/index copy.html">
								<i class="fas fa-money-check-alt"></i>
								<p>Componentes</p>
							</a>
						</li>
					</ul>
				{% else %}
					<ul class="nav nav-primary">
						<li class="nav-item {% if 'index2' in segment %} active {% endif %}">
							<a href="/login">
								<i class="fas fa-money-check-alt"></i>
								<p>Ingresar</p>
							</a>
						</li>
					</ul>
				{% endif %}	
				</div>
			</div>
		</div>
        <!-- End Sidebar -->
        