{% extends "layouts/base.html" %}

{% block title %} Contactos {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
	<div class="page-inner">
		<div class="page-header">
			<h4 class="page-title">Contactos </h4>
			<ul class="breadcrumbs">
				<li class="nav-home">
					<a href="/index.html">
						<i class="flaticon-home"></i>
					</a>
				</li>
				<li class="separator">
					<i class="flaticon-right-arrow"></i>
				</li>
				<li class="nav-item">
					<a href="#">Contactos</a>
				</li>
			</ul>
		</div>
		<div class="page-category">
		
			<div onload="equipamientoLista();" data-role="fieldcontain" class="ui-hide-label" id="langDiv"></div>
			<div class="date text-muted">Hola!!</div> Hola!!

	</div>

	{% endblock content %}

	<!-- Specific Page JS goes HERE  -->
	{% block javascripts %}{% endblock javascripts %}